<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" > 
    <!-- now we are in views foler......so to access styles.css we can use the public path by static type  
    since we are suing static files method we can access the style.css from /stylesheets/style.css instead of ../public/stylesheets/style.css 
    we can also do it for script too
    -->
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
</body>
</html>