body{
    margin: 0px
}


.navbar{
    background-color: rgb(255, 255, 255);
    height: 65px;
    margin: 10px 0px 0px 0px;
    border: 1px solid black;
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
}

#logo_name{
    display: flex;
    align-items: center;
}