header {
    text-align: center;
    margin: 0rem 0;
  }
  
  header img {
    height: 10rem;
    width: 20rem;
    object-fit: cover;
  }
  
  header p {
    margin: 0;
    font-size: 1.25rem;
    color: #8964b0;
    font-family: "Roboto Condensed", sans-serif;
  }
  main {
    width: 90%;
    max-width: 50rem;
    margin: auto;
  }  

