.bgimagebg {
    width: 100vw; /* Full viewport width */
    height: auto; /* Maintain height relative to viewport */
    position: relative;
    z-index: 1;
    cursor: pointer;
    border: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    background-size: cover; /* Ensure the image covers the container */
    background-position: center; /* Center the image */
    margin: 0 auto; /* Ensure no extra margin from other elements */
    padding: 0; /* Remove any default padding */
}

.images-container{
    position: relative;
}

.contentlogo {
    width: 100%; /* Stretch image to full width */
    height: auto; /* Maintain aspect ratio */
    z-index: 1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
}

.button_logo {
    display: flex;
        align-items: center;
        position: absolute;
        top: 30%;
        width: 100%;
        /* transform: translateY(-20%); */
        padding: 0 20px;
        box-sizing: border-box;
        margin: 3% 0%;
        z-index: 3;
        justify-content: space-between;
}

.button_logo button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 12px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.content_button_logo {

    display: flex;
    align-items: center;
    position: relative;
    /* top: 30%; */
    top: 25px;
    width: 100%;
    /* transform: translateY(-20%); */
    padding: 0 20px;
    box-sizing: border-box;
    margin: 3% 0%;
    z-index: 3;
    justify-content: space-between;
  }
  
  .content_button_logo button{
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 12px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  }

.button_logo button:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.1); /* Slight enlargement on hover */
}

.image-gallery {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bgimagebg.active {
    opacity: 1;
    z-index: 2;
    transform: scale(1); /* Full scale for active image */
    top: 0px;
}

.bgimagebg.inactive {
    opacity: 0;
    z-index: 0;
    transform: scale(0.95); /* Slightly smaller for inactive images */
}


@media(max-width: 500px) {
    .button_logo button{
        padding: 4px 7px;
    }

    
}